* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto-condensed';
}

body {
    background: linear-gradient(to bottom, #312626 50%, #150e0e 90%) #150e0e fixed;
}

header {
    position:fixed;
    top:0;
    height:65px;
    width:100%;
    background-color:#fffae3;
    border:0px;
    box-shadow:0px 2px 15px 0px rgba(76, 54, 26, 0.2);
    -webkit-box-shadow:0px 2px 15px 0px rgba(76, 54, 26, 0.2);
    -moz-box-shadow:0px 2px 15px 0px rgba(76, 54, 26, 0.2);
    -o-box-shadow:0px 2px 15px 0px rgba(76, 54, 26, 0.2);
    z-index:5;
    
}

footer {
    background-color:none;
}


.body-w {
    width: 60%;
    max-width:1200px;
    min-width:850px;
    margin:auto;
}

.row-w-n {
    display:inline-block;
    width:75%;
}

.row-w-u {
    display:inline-block;
    width:25%;
}


/* header */



.main-nav {
    display: inline-block;
    padding-top:12px;
    width: 80%;

    
}

ul {
    padding:1px;
}

li {
    list-style-image: none;
}

.linkedIn {
    color:#312727;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    stroke-width: 0;
    stroke: currentColor;
    fill: #312727;
  }

.icon:hover {
      fill: #7b2727;
  }
  

.main-nav ul li {
    display:inline-block;
    padding:1px; 
    padding-left: 50px;
}
  

.main-nav ul li > a:link, .main-nav ul li > a:visited {
    color:#312727;
    font-family: 'kremlin-pro', 'Verdana', sans-serif;
    font-size: 25px;
    font-weight:600;
}

.main-nav ul li > a:hover {
    color:#7b2727;
}

.main-nav ul li > a:hover::before {
    content:'\00BB';
    position:absolute;
    margin-left:-20px;
}

.main-social {
    display: inline-block;
    width:18%; 
    text-align: right;
    vertical-align: middle;   
}

.main-social a > span {
    height:10px;
    width:10px;
    background:#000;
}


/* header-2 */

.index-intro {
    height:370px;
    background-position:center;
    background-image:url('src/crop2.png');
    background-repeat:no-repeat;
    border-bottom:5px solid #fffae3;
    margin:0px;
    
}

/* H's */

h1 {
    top: 145;
    position: absolute;
    color: #fffae3;
    left: 30%;
    font-size: 42px;
    font-family: 'Roboto-condensed', sans-serif;
    text-transform: uppercase;
    z-index: 2;
}





/* main content table */

.main-content {
    display:flex;
    flex-direction:row;
    border-left:0px solid #fffae3;
    padding-bottom:15px;

}

.updates-block {
    padding-left: 15px;
    padding-right: 0px;
    padding-top: 20px;
    margin:0px;
    color:#fffae3;
    border-left:0px solid #fffae3;
    transition:0.5s;
    opacity: 0.5;   
}

.updates-block:hover {
    opacity:1;
}

.updates-block article {
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-top: 15px;
    margin-bottom: 15px;
    transition:0.5s;
}

.updates-block article:hover {
    background-color:rgba(247,240,229, 0.1);
}

.updates-block article > p {
    padding-bottom: 10px;
    color:#8e8d88;
    padding-right: 40px;
}

.updates-block article:hover > p:nth-child(odd) {
    width:100%;    
}

.updates-block article > p:nth-child(odd) {
    padding-bottom: 5px;
    font-size: 12px;
    width: 80%;
    border-bottom: 1px solid #fffae3;
    transition:0.5s;
}

.updates-block h3 {
    border-bottom:3px solid #fffae3;
    border-top:0px solid #fffae3;
    color:#fffae3;
    text-transform:uppercase;
    padding-left:10px;
}

.updates-block h4 {
    padding-bottom: 6px;
    font-size: 18px;
    color: #fffae3;
}

a.SideA:link, a.SideA:active, a.SideA:focus {
    color:#fffae3;
    text-decoration:underline;
    font-weight:bold;
}

a.SideA:hover {
    color:#FFF;
    text-decoration:none;
}

.news-block {
    min-height:650px;
    margin:auto;
    padding:20px;
    padding-top: 18px;
    background-color:#fffae3;
}

.news-block article {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    margin-bottom:10px;
    box-shadow: 0px 0px 4px #d4c1c1;
    border: 1px solid #FFF;
}

.news-block article ul {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    text-align: justify;
}

.news-block article > p {
    padding-bottom:10px;
    text-align:justify;
    font-size:14px;
    line-height: 1.7;
}

.news-block article > p:last-child {
    border-top: 3px double #322626;
    padding-bottom: 0px;
    font-size:12px;
}

.news-block article h2 {
    color: #fffae3;
    font-family: 'kremlin-pro', 'Verdana', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    border-bottom: 3px double #fffae3;
    border-top: 3px double #fffae3;
    border-right: 0;
    margin-bottom: 8px;
    background-color: #332727;
    background-image: url(src/n-bg.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
}

/*

.news-block article h2::before {
    color:#fffae3;
    content: url(src/fthr.png);
    position: absolute;
    margin-top: -6px;
    margin-left: 30%;
} */

.bottom {
    background-color:#fffae3;
    position:fixed;
    bottom:0px;
    width:100%;
    height:18px;
    z-index:999;
    box-shadow:0px 2px 15px 0px rgba(76, 54, 26, 0.2);
    -webkit-box-shadow:0px 2px 15px 0px rgba(76, 54, 26, 0.2);
    -moz-box-shadow:0px 2px 15px 0px rgba(76, 54, 26, 0.2);
    -o-box-shadow:0px 2px 15px 0px rgba(76, 54, 26, 0.2);
}

.inbtw-q {
    text-align:left;
    font-size:12px;
}

.inbtw-s {
    padding-bottom: 5px;
    PADDING-TOP: 10PX;
}

.inbtw-s blockquote {
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: 15px;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 4px #d4c1c1;
    -webkit-box-shadow: 0px 0px 4px #d4c1c1;
    -moz-box-shadow: 0px 0px 4px #d4c1c1;
    -o-box-shadow: 0px 0px 4px #d4c1c1;
    color: #7b2828;
}

.copyright {
    background-color:#fffae3;
    width:100%;
    font-size:12px;
    text-align:right;
    padding-top:0px;
    padding-right:21%;
    color:#332727;
}

/* Galleries */

#pGallery .index-intro, 
#pContent .index-intro {
    height:220px;
    background:url('src/bg_g.jpg');
}

#pGallery .index-intro h1,
#pContent .index-intro h1 {
    color:#fffae3;
    top:125;
    font-size:35px;
}

#pGallery .body-w {
    background:#fffae3;
    width:65%;
    max-width: 1400px;
}

#pGallery .main-content {
    min-height:650px;
    max-width:65%;
    padding-bottom: 60px;
    padding-top:18px;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow:1;
}

.thumb {
    max-height:100%;
    max-width: 100%;
    border: 1px solid #ffffff;
}

.preview {
    display:inline-block;
    position:relative;
    text-align: center;
    margin:5px;
    height:350px;
    padding:10px;
    border:1px solid #FFF;
    transition:0.2s ease-in-out;
    transition-delay: 0.1s;
    box-shadow: 0px 0px 4px #9a8888;
    -webkit-box-shadow: 0px 0px 4px #9a8888;
    -moz-box-shadow: 0px 0px 4px #9a8888;
    -o-box-shadow: 0px 0px 4px #9a8888;
    z-index:3;
}

.preview:hover {
    cursor:pointer;
    height:525px;
    vertical-align:middle;
}


.preview::before,
.preview::after {
    z-index: 999;
    position:absolute;
    display:none;
    visibility:none;
    animation: smooth-up 0.5s ease-in-out forwards;
    -webkit-animation: smooth-up 0.5s ease-in-out forwards;
    -moz-animation: smooth-up 0.5s ease-in-out forwards;
    -o-animation: smooth-up 0.5s ease-in-out forwards;
}

.preview::before {
    content:attr(data-title);
    color: #fffae3;
    font-size: 14px;
    border: 1px solid #fffae3;
    background-color: rgba(38, 28, 28, 0.8);
    padding: 15px;
    top: 55%;
    max-width: 180px;
    text-align:left;
    box-shadow: inset 0px 0px 4px #fffae3;
    -webkit-box-shadow: inset 0px 0px 4px #fffae3;
    -moz-box-shadow: inset 0px 0px 4px #fffae3;
    -o-box-shadow: inset 0px 0px 4px #fffae3;
}

.preview::after {
    width:0;
    height:0;
    content:'';
    border-top: 10px solid transparent;
    border-left: 10px solid #fffae3;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: 61%;
    margin-left: 20px;
}

.preview:hover::before,
.preview:hover::after {
    display:block;
    visibility:visible;
    opacity:1;
}


@keyframes smooth-up {
    0%   {
        opacity:0;
    }
    100% {
        opacity:1;
        transform: translate(-100%, 0);
    }


}




@media screen and (max-width:1550px) {

    .preview {
        height:250px;
    }

    .preview:hover {
        height:400px;
    }

    h1 {
      /*  left: 12%; */
        font-size: 38px;
    }


}

@media screen and (max-width:540px) {

    .header {
        width:100%;
        position:fixed;
    }

    body {
        overflow-x:hidden;
    }

    .copyright {
        text-align:center;
        padding-right:0;
    }

    .main-nav {
        width:100%;
        text-align: center;
    }

    .main-nav ul li > a:link, .main-nav ul li > a:visited {
        font-size:18px;
    }

    .main-nav ul li {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-social {
        margin-top: 30px;
        display:none;
    }

    .icon {
        fill: #fefae3;
    }


    .index-intro {
        background-image:url('src/bg_g.jpg');
        height: 220px;
    }

    h1,
    #pGallery .index-intro h1, #pContent .index-intro h1 {
        left: 10%;
        top:115;
        font-size: 28px;
    }

    #pContent .main-content {
        display: flex;
        flex-direction: column-reverse;
    }
    

    .updates-block {
        padding-left:0px;
    }

    .row-w-u {
        display: block;
        width: 100%;
    }

    .updates-block article {
        width:100%;
        padding-left:15px;
    }

    .updates-block article > p {
        width:60%;

    }

    .row-w-n {
        display: block;
        width: 100%;
    }

    .body-w {
        width:100%;
        max-width:unset;
        min-width:unset;
    }


    #pGallery .body-w {
        width:100%;
    }

    .main-content {
        padding-left:0px;
        padding-right:0px;
    }

    #pGallery .main-content {
        padding-right:10px;
        padding-left:10px;
    }

    #pGallery .main-content,
    .main-content {
        width:100%;
        min-width:unset;
        max-width: 100%;
        flex-direction: column;
    }

    .preview:hover {
        height:unset;
        width:100%;
    }

    .preview {
        width:100%;
        height:unset;
        margin-left:0px;
        margin-right:0px;
        margin-top:5px;
        margin-bottom:0px;
    }

    .preview::after {
        animation:none;
        -webkit-animation: none;
       -moz-animation: none;
       -o-animation: none;
       border:0px;
    }


    .preview::after:hover {
        display:none;
        visibility: hidden;
        opacity: 0;
    }

    .preview::before {
        top:50%;
        left: 105%;
        width: 100%;
        max-width: unset;
    }


}